/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto Mono', monospace, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oxygen', sans-serif;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100%;
  margin: 0;
}
body {
  background-color: #EDEDE7;
}
.container header nav {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}
.container header nav a {
  margin-right: 2rem;
  text-decoration: none;
  color: #B43966;
  margin-top: 3.2rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
.container header nav .subMenu {
  display: none;
}
footer {
  text-align: center;
  background-color: #1F1F1F;
}
footer nav {
  font-size: 2rem;
  text-decoration: none;
  margin: 5rem;
}
footer nav a {
  color: #FFFFFF;
  margin-right: 4rem;
  text-decoration: none;
}
footer .phone a {
  margin-top: 13rem;
  margin-bottom: 13rem;
  color: #FFFFFF;
  font-size: 2rem;
}
.container header {
  background-image: url("https://personal-trainer-stgallen.ch/wp-content/uploads/2013/08/CRT53091.jpg");
  min-height: 50rem;
}
.container header .community-spirit {
  text-align: center;
  margin-top: 5rem;
}
.container header .community-spirit p {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px auto;
  line-height: 0.9em;
  font-size: 3.2rem;
  font-weight: 700;
  color: #D7CF6E;
  letter-spacing: 0.0588235rem;
  line-height: 0.5em;
}
.container header .community-spirit h1 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px auto;
  line-height: 0.9em;
  font-size: 6.8rem;
  font-weight: 700;
  color: #D7CF6E;
  letter-spacing: 0.0588235rem;
  line-height: 0.5em;
}
.container header .community-spirit .groupFitness {
  border-radius: 300px;
  font-weight: 700;
  font-size: 2rem;
  background-color: #FFFFFF;
  color: #3f77a2;
  padding: 1.2rem;
  text-transform: uppercase;
  margin-right: 1.2rem;
  margin-top: 3rem;
  border: none;
  cursor: pointer;
}
.container .anywhere-fitness {
  text-align: center;
  margin-top: 5rem;
}
.container .anywhere-fitness h1 {
  font-weight: 700;
  color: #144b6a;
}
.container .anywhere-fitness h2 {
  margin-top: 2rem;
  color: #4a4a4a;
  font-weight: 400;
  text-transform: uppercase;
}
.container .middle-section {
  display: flex;
  justify-content: center;
  font-size: 30rem;
  margin-top: 2rem;
}
.container .middle-section .af-team {
  margin-right: 7rem;
  justify-content: center;
  cursor: pointer;
  color: #144b6a;
}
.container .middle-section .af-team .team h1 a {
  text-decoration: none;
  color: #8f4a4a;
}
.container .middle-section .af-team h1 {
  font-size: 9rem;
  text-align: center;
  font-weight: 700;
  width: 300px;
  line-height: 10rem;
}
footer {
  margin-top: 18rem;
}
footer .icons {
  background-color: #3F77A2;
  padding: 2rem;
  text-align: center;
}
footer p {
  margin-top: 2rem;
  color: #FFFFFF;
}
